extends layouts

block content
    div.row
        div.medium-4.columns.large-offset-4
            form(action="/user/signout",method="post")
                    input.button(type="submit" value="signout")
                a.button(href="/user/rname") rename
                br
                a.button(href="/user/repass") repass
            form(enctype="multipart/form-data"  action = "/user/photo" method="post")
                input.button(type="file" name="userPhoto")
                input.button(type="submit" value="Upload Image" name="submit")
                if user.image
                    img(src="/stat/uploads/"+ user.image)

