doctype html
html
    head
        meta(charset="utf8")
        link(rel="stylesheet",href="/stat/styles/app.css")
        link(rel="stylesheet",href="/stat/styles/foundation.min.css")



    body

        block header
        block content
        script(src="/stat/scripts/jquery.min.js")
        script(src="/stat/scripts/foundation.min.js")




