extends layouts

block header
    div.footer
        h1 registaration
        if used
            h5 used mail
block content
    form(action="/user/signup",method="post")
        lable name
            input(type="email",name="email",required=true)
        label password
            input(type="password",name="password",required=true)
        input(type="submit",value="login")
